/* 全局样式 */
body {
    background-color: #fff;
    font-family: "Microsoft JhengHei UI", serif;
}

ul, dl, dd, dt {
    margin: 0;
    padding: 0;
    list-style: none;
}

button {
    border: none;
    outline: none;
    background-color: #FFFFFF;
}

a {
    color: #000;
    text-decoration: none;
}

input:active, input:focus {
    outline: 0;
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.left-area {
    text-align: left;
    padding-left: 6px;
}

.right-area {
    text-align: right;
    padding-right: 6px;
}

.center-area {
    text-align: center;
}

.line {
    width: 100%;
    border-bottom: 1px solid #cccccc;
}

::-webkit-scrollbar-track-piece {
    background-color: #fff;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background: #999;
}

/* 标题栏样式 */
#title-bar {
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #ccc;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    -webkit-app-region: drag;
}

#title-bar span {
    width: 33.3%;
    font-size: 20px;
    line-height: 40px;
}

#title-bar button[class^=icon] {
    -webkit-app-region: no-drag;
}

/* 底部操作栏样式 */
#footer {
    width: 100%;
    height: 28px;
    border-top: 1px solid #ccc;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#footer span {
    width: 50%;
    line-height: 30px;
    font-size: 18px;
}

#footer .left-area a {
    padding: 0 6px;
}

#footer .right-area {
    margin-right: 2px;
}

/* 主体内容区样式 */
#container {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-content: center;
}

#container .input {
    height: 28px;
    margin: 9px 9px 0 9px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

#container .message {
    height: 100%;
    margin: 9px;
    border: 1px solid #ccc;
    border-radius: 2px;
    overflow: auto;
}

#container .item {
    height: 20px;
    padding: 2px 0 2px 2px;
    font-size: 16px;
    line-height: 20px;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #c0cccc;
    position: relative;
}

#container .item:hover {
    background-color: #FFFFFF;
}

#container .list dt {
    width: 120px;
    height: 25px;
    margin: 5px auto;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    border-radius: 30px;
    background-color: #e6e6e6;
}

#container .history {
    overflow: auto;
}

#container .history dt, #container .history dd {
    padding: 10px 15px;
}

#container .history dd {
    border-bottom: 1px solid #cccccc;
}

#container .day-info {
    font-size: 16px;
    font-weight: bold;
}

#container .count-info {
    float: right;
    line-height: 20px;
    font-weight: bold;
}

#container .icon-chevron-down, #container .icon-chevron-right {
    margin-left: -7px;
}

#container [class^=icon-] {
    cursor: pointer;
    margin: 2px 5px 0 2px;
}

#container .delete-btn {
    position: absolute;
    right: 2px;
    display: none;
}

#container .item:hover .delete-btn {
    display: inline;
}

#container .setting-area {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    font-size: 14px;
}

#container .setting-area table {
    width: 80%;
    margin: 50px auto;
}

#container .setting-area td {
    padding: 10px 0;
    vertical-align: middle;
}

/* 清除 range 默认样式 */
input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    box-shadow: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    border-radius: 2px;
    height: 15px;
    width: 10px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -6px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #cccccc;
    border-radius: 1.3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #cccccc;
}

.ng-hide {
    display: none;
}




